/Research/
/assets/videos/
/assets/vendor/boxicons.min.css
/assets/vendor/gsap.min.js
/assets/vendor/jquery.min.js
/assets/vendor/locomotive-scroll.css
/assets/vendor/ScrollSmoother.min.js
/assets/vendor/ScrollTrigger.min.js
/assets/vendor/smooth-scrollbar.js